<footer class="footer">
  <small>
    the <a href="https://wwww.railstutorial.org">Rails Tutorial</a>
    by <a href="https://micahelhartl.com">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><a href="https://wwww.railstutorial.org">News</a></li>
    </ul>
  </nav>
</footer>